  #santa_move {
      position: absolute;
      width: 100px;
      height: 100px;
			opacity: 0.9;
      animation-name: move;
      animation-duration: 10s;
      animation-iteration-count: infinite;

    }

    @keyframes move {
      from {
        left: 350px;
      }

      to {
        left: 1000px;
      }
    }

#christ {
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	background-color: #dd406d;
}

#empty {
	width: 1200px;
	height: 50px;
	margin: 20px;
}
#box {
	width: 550px;
	height: 300px;
	border: 4px solid black;
	border-radius: 2em;
	margin-left: 20px;

	opacity: 0.8;
}
#text {
	text-align: center;
}

#text > p {
	font-size: xx-large;
	color: aliceblue;
}

#text .event {
	font-size: 3vh;
}

.em {
	border: 3px solid rgb(206, 44, 44);
	border-radius: 5px;
	color: rgb(233, 233, 102);
	font-size: xx-small;
	font-weight: bold;
	text-align: center;
}

.new {
	border: 3px solid rgb(206, 44, 44);
	border-radius: 5px;
	color: rgb(233, 233, 102);
	font-size: xx-small;
	font-weight: bold;
}

.mas img {
	width: 50%;
	height: auto;
	float: right;
}
.world {
	width: 1200px;
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 500px;
	margin: 0 auto;
}

.card {
	position: relative;

	width: 100px;
	height: 100px;

	margin: 5em;
	transition: 1s;
	transform: translateZ(40deg);
	transform-style: preserve-3d;
}

.card-side {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	position: absolute;
	backface-visibility: hidden;
}

.card-side-front {
	background: red;
	font-size: small;
	z-index: 1;
}

.card-side-back {
	background: red;
	font-size: small;
	transform: rotateY(180deg);
}

.santa {
	border-radius: 10px;
}

.world:hover .card {
	transform: rotateY(180deg);
}

#mid {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	
}
#mid .imgs img {
	width: 218px;
	height: 440px;
}

.imgs {
	margin-left: 100px;
}

.text_right {
	width: 450px;
	height: 350px;

	float: right;
	position: relative;
	left: -50px;
	top: 50px;
}

.deco {
	font-weight: bold;
	padding: 20px;
}

.s {
	font-weight: bold;
	font-size: small;
	text-align: center;
}

#mid2 {
	width: 1200px;
	height: 850px;
	margin: 0 auto;

}

#buttons1 { display: flex; align-items: center; justify-content: center;}


.btn1 {
	background: red;
	padding: 10px 40px;
	border: 3px green;
	border-bottom: 0px;
	margin: 0 5px;
	border-radius: 5px;
}

#mainSection1 {

	width: 900px;
	height: 425px;
	border: 3px solid red;border-radius: 5px;
	position: relative; left: 150px;
	
}
.circle {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	;
}

.ce {
	width: 20%;
	height: auto;
	float: right;
}

.side {
	transform: rotate(340deg);
	position: relative;
	top: -270px;
	right: -150px;
	font-size: 2vh;
	font-weight: bold;
}

.event2021 {
	font-size: 5vh;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#image1 {
	width: 880px;
	height: 420px;
	object-fit: fill;
	border-radius: 10px;
}
#empty_3 {width: 80px; height: 80px;}
#mid3 {
	margin: 50px;
	width: 1200px;
	height: 630px;
	margin: 0 auto;

}

#mid3 > p {
	text-align: center;
	margin: 0 auto;
	font-size: xx-large;
	font-weight: bold;
}

#mid3 > .disco {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: xx-large;
}

.beer2 {
	width: 390px;
	height: 302px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beer3 {
	width: 244px;
	height: 192px;
	position: relative;
	right: -450px;
	top: -250px;
}

#mid4 {
	width: 1200px;
	height: 420px;
	margin: 0 auto;

	background-image: url(../img/sub3/hohoho.jpg);
	background-size: 100%;
	background-position: center;
	
	display: flex;
	align-items: center;
	justify-content: first baseline;
}


  #circled_beer {
      position: absolute;
      width: 300px;
      height: 400px;
			opacity: 0.9;
      animation-name: move;
      animation-duration: 10s;
      animation-iteration-count: infinite;

    }

    @keyframes move {
      from {
        left: 350px;
      }

      to {
        left: 600px;
      }
    }


#empty_4 {width: 100px; height: 100px;}
#mid5 {
	width: 1200px;
	height: 750px;
	margin: 0 auto;

}

#mid5 p {
	font-size: xx-large;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#b_img {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#b_img img {
	width: 200px;
	height: 200px;
	border-radius: 70%;
}

#b_img2 {
	display: flex;
}
#b_img2 img {
	width: 50px;
	height: 50px;
	border-radius: 70%;

}

#b_img3 {
	display: flex;
}

#b_img3 img {
	width: 50px;
	height: 50px;
	border-radius: 70%;
}

#b_img4 {
	display: flex;
}

#b_img4 img {
	width: 50px;
	height: 50px;
	border-radius: 70%;
}

#empty_space {
	width: 1200px;
	height: 137px;
	margin: 0 auto;
	
}

#wrap {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#mid6 {
	width: 1200px;
	height: 673px;
	margin: 0 auto;

}

#gallery1 {
	display: flex;
}

#gallery1 a {
	width: 25%;
	height: 300px;
}
#gallery1 img {
	width: 100%;
	height: 300px;
}

#gallery2 {
	display: flex;
}
#gallery2 a {
	width: 25%;
	height: 300px;
}
#gallery2 img {
	width: 100%;
	height: 300px;
}

#mid6 p {
	font-size: xx-large;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#empty_5  {width: 80px; height: 80px;}
#mid7 {
	width: 1200px;
	height: 863px;
	margin: 0 auto;

  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

#mid7 .text_center {
	font-weight: bold;
	font-size: xx-large;
	display: flex;
	justify-content: center;
	align-items: center;display: flex;
	justify-content: center;
	align-items: center;
}

#last {
	width: 924px;
	height: 280px;
 border: 2px solid black; border-radius: 5px;
 display: flex; align-items: center; justify-content: center;
 
}



.text_1 { width: 240px; height: 250px; 
position: relative;z-index: 2; background-color: wheat; right: -3px; }

.text_2 { width: 240px; height: 250px; 
position: relative;z-index: 2; background-color: wheat; right: -3px;
}

.text_3 { width: 240px; height: 250px; 
position: relative;z-index: 2;  
background-color: wheat; right: -3px;}

.text_4 { width: 240px; height: 250px; 
position: relative;z-index: 2;  
background-color: wheat; right: -3px;}

.last_text {
	float: left;
	padding: 10px;
	font-size: 2vh;
	font-weight: bold;
}

.icon {width: 2vh; height: 2vh;}
